.ship {
  display: none;
  width: 1em;
  height: 1em;
  margin: 1em;
  background-color: coral;
}

.ship.built {
  display: block;
}

#launchpads {
  :nth-child(1) {
    background: #a00;
  }
  :nth-child(2) {
    background: #0a0;
  }
  :nth-child(3) {
    background: #00a;
  }
}