#lobby {
  padding: 20px;
  // padding: 5px;
  
  position: relative;
  height: calc(100% - ($padding * 2));
  max-height: $height;
  overflow: scroll;
  
  .content {
    padding: 5px;
    
    position: relative;
    // max-height: calc(100% - ($padding * 2));
    // overflow: scroll;
  }
}