[draggable] {
  -moz-user-select: none;
//   -khtml-user-select: none;
//   -webkit-user-select: none;
//   user-select: none;
//   /* Required to make elements draggable in old WebKit */
//   -khtml-user-drag: element;
//   -webkit-user-drag: element;
}

.person {
  cursor: move;
  background: #808;
  
  margin: 5px;
  padding: 5px;
  
  &.dragging {
    opacity: 0.6;
  }
}