.ship {
  .person, .slot {
    height: 50px;
    
    pointer-events: none;
  }
  .slot {
    border-bottom: 2px solid grey;
    padding: 5px;
    margin: 5px;
    margin-top: 7px;  // .person has 2px of top border
  }
  
  &.dragged-over {
    background: @color-drag-over;
  }
}
